<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="alfa2_Sinergia.Properties.Settings.SinergiaConnectionString"
            connectionString="Data Source=.;Initial Catalog=Sinergia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>